.NotesContainer {
  &-Content {
    &.private {
      article {
        background-color: #fcc;
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 15px;
          right: 15px;
          background-image: url("https://i.imgur.com/qiTqQlZ.png");
          background-size: contain;
        }
      }
    }
    header {
      h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
      }
      .Author {
        em {
          font-weight: normal;
        }
      }
    }
    article {
      background-color: #f5f5f5;
      min-height: 250px;
    }
  }
}
