.NotesContainer {
  &-Content {
    header {
      h3 {
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
      }
      .Author {
        em {
          font-weight: normal;
        }
      }
    }
  }
}
